/*
 * Copyright (c) 2017, embedjournal.com
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include "stm32f103Xb.dtsi"

/ {
	model = "STM32F103CBT6";
	compatible = "st,stm32f103CBT6", "st,stm32f103Xb";
};
